<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="awareness.css">
<div class="one container">
    <h1>Vouch for a Brighter Future</h1>
    <p class="display-5">Taking steps towards a better tomorrow!!!!</p>
</div>
<div class="container">
        <div class="row">

   <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-sm-2">
        <img style="width: 450px;border-radius: 30px;" src="https://img.etimg.com/thumb/height-450,width-800,imgsize-97187,msid-50245006/delhi-government-cancels-leaves-of-dtc-staff-during-odd-even-rule.jpg" alt="..." class="img-fluid">
   </div>   
                
   <div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-2">
        <div class="card-header">
          Our Motive
        </div>
        <div class="card-body">
          <h4 class="card-title">Encouraging People Towards Public Transport </h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         
        </div>
        <div class="card-footer text-muted">
         
        </div>
      </div>
        

</div>
</div>
<div class="container">
    <div class="row">


            
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1">
    <div class="card-header">
      Our Motive
    </div>
    <div class="card-body">
      <h4 class="card-title">Encouraging People Towards Public Transport </h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
        <img style="width: 450px;border-radius: 30px;" src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2018/08/25/722353-metrodelhi-071418.jpg" alt="..." class="img-fluid">
   </div>   
    

</div>
</div>

<div class="container">
    <div class="row">

<div class="col-sm-12 col-md-6 col-lg-4 order-sm-5 order-md-5">
    <img style="width: 450px;border-radius: 30px;" src="https://images.livemint.com/img/2019/06/18/600x338/autorickshaw--621x414_1560829619442.jpg" alt="..." class="img-fluid">
</div>   
            
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-sm-6 order-md-6">
    <div class="card-header">
      Our Motive
    </div>
    <div class="card-body">
      <h4 class="card-title">Encouraging People Towards Public Transport </h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
    

</div>
</div>  
<div class="container">
<div class="row">


        
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1">
<div class="card-header">
  Our Motive
</div>
<div class="card-body">
  <h4 class="card-title">Encouraging People Towards Public Transport </h4>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 
</div>
<div class="card-footer text-muted">
 
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
    <img style="width: 450px;border-radius: 30px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYxaZ86GQNtsGgGZeaKA-YiBUSgs2rDcjQHOq5i1PT9pknqWTaIQ" alt="..." class="img-fluid">
</div>   


</div>
</div>
<% include ./partials/footer %>  