<% include ./partials/header %>
  <div class="navcolour">
<nav class="d-flex justify-content-center navbar navbar-expand-lg navbar-dark bg-dark">
<a class="d-flex justify-content-center navbar-brand" href="#">GoTransport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span ><span class="join">JOIN</span></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <% if(!currentUser){ %>
      <li class="nav-item">
        <a class="d-flex justify-content-center nav-link" href="login">Login <i class="fa fa-user"></i></a>
      </li>
      </li>
      <li class="nav-item">
        <a class="d-flex justify-content-center nav-link" href="signup">SignUp <i class="fa fa-user-plus"></i></a>
      </li> 
      <% } else { %>
      <li><a class="d-flex justify-content-center nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a class="d-flex justify-content-center nav-link" href="/logout">Logout</a></li>
                    <% } %> 
    </ul>
  </div>
</nav>
</div>

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="QR">QR Code Scanner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Location Tracker</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Social Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="circular">Notices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="awareness">Awareness</a>
    </li>
  </ul>

  <script type="text/javascript">
  $(document).ready(function(){
  $('ul li a').click(function(){
    $('li a').removeClass("active");
    $(this).addClass("active");
});
});
</script> 

<table class="table table-striped" align="center">
    <tr >
      <td valign="top" colspan="3">
      
  <table class="table table-striped" style=" background:linear-gradient(#FFEFBA,#FFFFFF);">
        <tr>
          <td valign="top" colspan="12" bgcolor="black" style="padding-left: 14%" >
          <!-- <p align="center"><font size="2" color="#003366"><b>Circulars</b></font></td> -->
            <h1 style="text-align: center;color: rgb(139,0,0)">CIRCULARS</h1>
          <td width="224" valign="top" height="24" bgcolor="black"; >
          <p align="right">&nbsp;</td>
        </tr> 
        <tr>
          <td class="text-center" valign="top" colspan="4" height="21" style="padding-left: 22%">
          <font size="2">Click on  </font><font size="2" color="#003366"><b>
          Circular </b></font>
          <font size="2">Number for complete detail</font></td>
          <td width="224">
          &nbsp;</td>
        </tr>
       
        <tr>
          <td width="110" height="3" class="text-center"><font size="2" color="#003366"><b>Circular</b></font><b><font size="2" color="#003366"> 
          Number</font></b></td>
          <td width="87" height="3" class="text-center"><font size="2" color="#003366"><b>Circular
          </b></font><b><font size="2" color="#003366">Date</font></b></td>
          <td width="129" height="3" class="text-center"><b><font size="2" color="#003366">Department</font></b></td>
          <td width="417" height="3" colspan="2" class="text-center"><font size="2" color="#003366"><b>Circular
          </b></font><b><font size="2" color="#003366">Subject</font></b></td>
        </tr>
  <div class="circularss"> 
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193413.56.38 AM.jpeg" target="_blank">cir(2019)/3/413</a></td>
          <td width="87" height="1">14/8/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Allow free travels to lady commuters in the DTC City & NCR (AC & Non-AC) buses, on the occasion of Raksha Bandhan festival being celebrated on 15.08.2019.from 08.00 AM to 10.00 PM</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193411.pdf" target="_blank">cir(2019)/3/411</a></td>
          <td width="87" height="1">13/8/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Issue medical card to retired employees of DTC</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193412.pdf" target="_blank">cir(2019)/3/412</a></td>
          <td width="87" height="1">13/8/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Regarding different Hindi Competitions 2019-2020</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193408.pdf" target="_blank">cir(2019)/3/408</a></td>
          <td width="87" height="1">15/7/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Hindi Tippan Competition </td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193409.pdf" target="_blank">cir(2019)/3/409</a></td>
          <td width="87" height="1">15/7/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Link Officer</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193407.58.48_1.pdf" target="_blank">cir(2019)/3/407</a></td>
          <td width="87" height="1">3/7/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Link Officers</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193406.pdf" target="_blank">cir(2019)/3/406</a></td>
          <td width="87" height="1">1/7/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Minutes of 2nd Meeting of 2019 of the DTC Board of the DTC Board held on 5.3.2019 at 4:00 p.m. in the Conference Room of Hon’ble Transport Minister, Govt. Of NCT of Delhi/ Chairman, DTC at 8th Level, Delhi Sectt., New Delhi-110002.</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193405. 258 &amp; 258 Spl..pdf" target="_blank">cir(2019)/3/405</a></td>
          <td width="87" height="1">28/6/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Changes in route no 258</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193404.pdf" target="_blank">cir(2019)/3/404</a></td>
          <td width="87" height="1">6/6/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">The application are hereby invited from all monthly rated regular Conductors</td>
         
  
        </tr>
        
  
       <tr>
          <td width="110" height="1" style="border-left-color: #C0C0C0; border-left-width: 1"><font size="2">Comp.No:</font><a href="/writereaddata/Cir20193403. 1.2.2019 (except 112019 & 122019).pdf" target="_blank">cir(2019)/3/403</a></td>
          <td width="87" height="1">8/5/2019</td>
          <td width="129" height="1" >Delhi Transport Corporation(DTC) </td>
          <td width="193" height="1" colspan="2">Minutes of 1st Meeting of 2019 of the DTC Board held on 1.2.2019 at 4.30 p.m. in the Conference Room of Hon’ble Transport Minister, Govt. of NCT of Delhi / Chairman, DTC at 8th Level, Delhi Sectt., New Delhi-110002.</td>
         
  
        </tr>
      </div>
        </p>
      </td>
    </p>
  </td>
</tr>
</table>
</td>
</tr>
</table>
<div class="footer" style>
   
    <a href="https://facebook.com"><img class="facebook" src="/images/fb.png"></a>
 <a href="https://youtube.com"><img class="youtube" src="/images/youtube.png"></a>
 <a href="https://twitter.com"><img class="twitter" src="/images/twitter.png"></a>
 <a href="https://in.linkedin.com"><img class="linkedin" src="/images/linkedin.png"></a>
 <a href="https://instagram.com"><img class="instagram" src="/images/instagram.png"></a>
 <p>© 2019 GoTransport</p>
  </div>
 <!-- CHATBOT -->
 <script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
 <script>
   var myLandbot = new LandbotLivechat({
     index: 'https://landbot.io/u/H-237423-JDZ9NF3IRHYPWXAN/index.html',
   });
 </script> -->
 <!-- CHATBOT END -->

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="https://tympanus.net/Development/Slicebox/js/jquery.slicebox.js"></script>
     <script>
     $(function() {
             
             var Page = (function() {
               
               var $navArrows = $( '#nav-arrows' ).hide(),
                   $shadow = $( '#shadow' ).hide(),
                   slicebox = $( '#sb-slider' ).slicebox( {
                     onReady : function() {
                       
                       $navArrows.show();
                       $shadow.show();
                       
                     },
                     orientation : 'r',
                     cuboidsRandom : true,
                     disperseFactor : 30
                   } ),
                   
                   init = function() {
                     
                     initEvents();
                     
                   },
                   initEvents = function() {
                     
                     // add navigation events
                     $navArrows.children( ':first' ).on( 'click', function() {
                       
                       slicebox.next();
                       return false;
                       
                     } );
                     
                     $navArrows.children( ':last' ).on( 'click', function() {
                       
                       slicebox.previous();
                       return false;
                       
                     } );
                     
                   };
               
               return { init : init };
               
             })();
             
             Page.init();
             
           });
           
           </script>
            <script>
  
              var byline = document.getElementById('byline');   // Find the H2
              bylineText = byline.innerHTML;                    // Get the content of the H2
              bylineArr = bylineText.split('');                 // Split content into array
              byline.innerHTML = '';                            // Empty current content
              
              var span;         // Create variables to create elements
              var letter;
              
              for(i=0;i<bylineArr.length;i++){                  // Loop for every letter
                span = document.createElement("span");          // Create a <span> element
                letter = document.createTextNode(bylineArr[i]); // Create the letter
                if(bylineArr[i] == ' ') {                       // If the letter is a space...
                  byline.appendChild(letter);         // ...Add the space without a span
                } else {
                  span.appendChild(letter);           // Add the letter to the span
                  byline.appendChild(span);           // Add the span to the h2
                }
              }
              </script>
</body>
<% include ./partials/footer %>    
