<% include ./partials/header %>

<div class="notices">
    <marquee>
    
        <!-- <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193413.56.38%20AM.jpeg">*Allow free travels to lady commuters in the DTC City & NCR (AC & Non-AC) buses, on the occasion of Raksha Bandhan festival being celebrated on 15.08.2019.from 08.00 AM to 10.00 PM</a>&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193411.pdf" style="color:#0055a0">*Issue medical card to retired employees of DTC</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193412.pdf" style="color:#0055a0">*Regarding different Hindi Competitions 2019-2020</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193408.pdf" style="color:#0055a0">*Hindi Tippan Competition</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193409.pdf" style="color:#0055a0">*Link Officer</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193407.58.48_1.pdf" style="color:#0055a0">*Corporation(DTC)  Link Officers</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
    </marquee>
    </div>
    <div class="container-fluid">
       <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4 animated bounce infinite">GoTransport</h1>
        <p class="lead text-center">A website to make travelling by public transport more convenient.</p>
      </div>
    </div>
  </div> 

  <style>
    .star {
    animation: star 10s ease-out infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes wars {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(0.5em);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  
  /* Make the 3D work on the container */
  .starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
  }
  
  /* General styles and layout */
  .my .container{
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  }
  
  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
  }
  
  .byline span {
    display: inline-block;
  }
  
  img {
    width: 100%;
  }
  
  .star, .wars, .byline {
    position: absolute;
  }
  
  .star {
    top: -0.75em;
  }
  
  .wars {
    bottom: -0.5em;
  }
  
  .byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
  }
  
  /*** Media queries for adjusting to different screen sizes ***/
  
  @media only screen and (max-width: 600px) {
    .starwars-demo {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .starwars-demo {
      font-size: 7px;
    }
  }
  /* //cssanimation.rocks/demo/starwars/images/wars.svg */
  /* //cssanimation.rocks/demo/starwars/images/star.svg */
  </style>
    <title>Document</title>
  </head>
  <body>
    
  <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
           
          <div class="wrapper">
        
            <ul id="sb-slider" class="sb-slider">
              <li>
                <a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/1.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Travel Freely</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968268187" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/2.jpg" alt="image2"/></a>
                <div class="sb-description">
                  <h3>Honest Entertainer</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968114825" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/3.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Brave Astronaut</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968122059" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/4.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Affectionate Decision Maker</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2969119944" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/5.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Faithful Investor</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968126177" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/6.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Groundbreaking Artist</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="https://tympanus.net/Development/Slicebox/images/7.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Selfless Philantropist</h3>
                </div>
              </li>
            </ul>
        
            <div id="shadow" class="shadow"></div>
            
            <div id="nav-arrows" class="nav-arrows">
              <a href="#">Next</a>
              <a href="#">Previous</a>
            </div>
          </div>
          </div>
        
        
      </div>
  </div>
      <br>
      <br>

      <div class = "container-fluid">
          <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-self-center">
          <div class="card quote">
      <div class="card-body cardedit">
  <blockquote class="blockquote mb-0">
    <p class="d-flex align-self-center">“Traveling is a brutality. It forces you to trust strangers and to lose sight of all that familiar comforts of home and friends. You are constantly off balance. Nothing is yours except the essential things. -air, sleep, dreams, the sea, the sky. -all things tending towards the eternal or what we imagine of it.”</p>
    <footer class="blockquote-footer">Cesare Pavese
</footer>
  </blockquote>
</div>
</div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7">
         <img class="img-fluids" src="/images/8af7e14e-f9f7-4b51-9e48-7ea38c3384f5.jpg">
      </div>
          </div>
        </div>      



    <div class="container">
      <div class="row">
       
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-around cards">
   <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Rate Us</h5>
        <h6 class="card-subtitle mb-2 text-muted">Give your valuable feedback!</h6>
        <p class="card-text">Your feedback helps us improve and helps us in giving you the best quality experience.</p>
        <a href="#" class="card-link">Give Rating</a>
        <a href="#" class="card-link">Leave a review</a>
      </div>
    </div>
    </div>
    

    
    <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-around cards">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Send an email</h5>
        <h6 class="card-subtitle mb-2 text-muted">Report Issues!</h6>
        <p class="card-text">You can report us the issues you face while using the website and help us improve.</p>
        <a class="card-link" href="mailto:gotranspo2k19@gmail.com" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">Send an e-mail</a>
        <a href="#" class="card-link">Send a message</a>
      </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-around cards">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <h6 class="card-subtitle mb-2 text-muted">Know more about us!</h6>
        <p class="card-text">Get to know our company and know about how to get the oppurtunity of joining us.</p>
        <a href="about" class="card-link">About Us</a>
        <a href="#" class="card-link">Join Us</a>
      </div>
    </div>
    </div>
    </div>
    <div class="d-flex justify-content-start">
        <a id="goTopBtn" href="#"><i class="fas fa-arrow-up"></i></a>
    </div>
    </div>
    </div>
    <br>
    
    
<% include ./partials/footer %>    